<section class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">Contact Me</h2>
            </div>
            <div class="line"></div>
        </div>
        <div class="row section-content" style="padding-top: 80px;">
            <div class="row mr-auto ml-auto">
                <div class="col-md" style="margin-right: 180px; margin-left: 180px;">
                    <div class="card">
                        <div class="card-header">
                            <div class="row justify-content-center">
                                <h2>Get In Touch</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h5 class="card-title">
                                    Currently looking for opportunities
                                </h5>
                                <p class="card-text" style="text-align: center;">
                                    My inbox is open for any sort of collaboration or job positions as a
                                    software/fullstack
                                    developer.
                                </p>
                                <p class="card-text" style="text-align: center;">
                                    Please e-mail me at <a style="color: #9F32B2">paulj_gonzales@hotmail.com</a> for any
                                    further inquiries.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>