.btn-primary {
    background-color: #9F32B2;
    color: #fff;
    border-color: #313896;
}

btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #9F32B2;
}

.btn-primary:hover,  .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    background-color: #fff;
    border-color: #313896;
    color: #9F32B2;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    border-radius: 0;
    background: transparent;
}

.jumbotron .bg {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.jumbotron .container {
    color: #00D7FF;
    z-index: 2;
}