<section class="backSection">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <i class="fas fa-chevron-up backbtn" (click)="onClick()"></i>
                </div>
                <div class="row justify-content-center">
                    <p class="lead text-white" style="padding-top: -60px; margin: 0;">Go Back</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="projectSection">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">Self-driving Car</h2>
            </div>
            <div class="line"></div>
        </div>
        <div class="row section-content">
            <div class="row">
                <div class="col-md-6" style="margin: auto;">
                    <div class="row justify-content-center">
                        <h2 class="font-weight-lighter text-white">How it Works</h2>
                    </div>
                    <iframe src="https://www.instagram.com/p/BjQzSn3n5lR/embed/captioned" width="500" height="965"
                        frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                <h2 class="font-weight-lighter text-white">The Build</h2>
                            </div>
                            <div class="row justify-content-center">
                                <iframe src="https://www.instagram.com/p/BjQpByHn_oL/embed" width="320" height="400"
                                    frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6" style="margin: auto;">
                                    <div class="row justify-content-center">
                                        <h4 class="font-weight-lighter text-white">Project Difficulties</h4>
                                    </div>
                                    <blockquote class="blockquote">
                                        <p>
                                            My partner and I had to get through a certain problem that displayed
                                            multiple
                                            categories of obstacles such as
                                            lack of time, resources, money, etc. We had to save
                                            the trained brain of the
                                            neural network from our simulation software and send it to the remote
                                            controlled
                                            car.
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="col-md-6" style="margin: auto;">
                                    <div class="row justify-content-center">
                                        <h4 class="font-weight-lighter text-white">Our Solution</h4>
                                    </div>
                                    <blockquote class="blockquote">
                                        <p>
                                            Since we could not afford to buy our own cloud server or wait for our school's database
                                            admin to create us our own server for our project (would have delayed us two weeks of work).
                                            We decided to look at the thousands of python libraries.
                                            We were able to find a library that was able to actually connect to the 
                                            google drive cloud and we were able to read and write to a text file.

                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin: auto;">
                            <div class="row justify-content-center">
                                <h4 class="font-weight-lighter text-white">Technologies Used</h4>
                            </div>
                            <div class="row justify-content-center">
                                <blockquote class="blockquote">
                                    <ul>
                                        <li>Machine Learning</li>
                                        <li>Unity Game Engine</li>
                                        <li>Unity Collaborate</li>
                                        <li>C#</li>
                                        <li>.NET Framework</li>
                                        <li>Python</li>
                                        <li>Raspberry Pi 3</li>
                                        <li>OrCAD</li>
                                        <li>Bluetooth Library</li>
                                        <li>Android Mobile App</li>
                                    </ul>
                                </blockquote>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin: auto;">
                            <div class="row justify-content-center">
                                <h4 class="font-weight-lighter text-white">Features</h4>
                            </div>
                            <div class="row">
                                <blockquote class="blockquote">
                                    <ul>
                                        <li>Able to manually control the car or set it on autopilot with android mobile app.</li>
                                        <li>Actual car will avoid obstacles and is able to learn its path more efficiently.</li>
                                        <li>Fully customizable settings for the AI and Car.</li>
                                        <li>Singleton design pattern used to control spefic areas of the simulation software.</li>
                                    </ul>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>