body {
    background-color: #313896;
    /* Hides vertical scrollbar during vertical animations */
    overflow-x: hidden;
}

/* Hide elements inside here when screen resolutions below 600px*/
@media (max-width: 600px) {
    #navsocials .fab {
        visibility: hidden;
    }
}

.btn {
    border-radius: 0;
}

.hover-cursor {
    cursor: pointer;
}

.nav-link {
    margin-right: 7px;
    margin-left: 7px;
}
#navsocials {
    margin-right: auto;
    padding-top: 5px;
    color: black;
}
#navsocials a {
    all: unset;
}
#navsocials .fab{
    margin-left: 6px;
    margin-right: 6px;
    font-size: 22px;
    cursor: pointer;
}
#navsocials .fab:hover {
    color: #9F32B2;
}
.navbar-brand {
    margin-right: 0.3rem;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    padding: 0!important;
    background: #ccc;
    opacity: 0.3;
}

.backSection {
    margin: 0 auto;
    padding-top: 5px;
    position: relative;
}
.backbtn {
    display: inline-block;
    font-size: 64px;
    transition: 0.2s linear;
    transform: scale(1.8,1.1);
}
.backbtn:hover {
    transform: scale(1.9,1.2);
    color: white;
    cursor: pointer;
}

.projectSection {
    margin: 0 auto;
    padding-top: 0;
    position: relative;
}
.section {
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
}
.section-title {
    font-weight: lighter;
    color: #fff;
}
.section-content {
    padding-top: 30px;
}

.badge {
    margin-left: 3px;
    margin-right: 3px;
}
.badge-primary {
    background-color: #9F32B2;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 1000px;
}

.btn-outline-primary {
    color: #9F32B2;
    border-color: #9F32B2;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    background-color: #313896;
}

.btn-outline-primary:hover,  .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary{
    background-color: #9F32B2;
    border-color: #9F32B2;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px;
    -moz-box-shadow: 0 8px 6px -6px;
    box-shadow: 0 8px 6px -6px;
}

.dropdown-menu {
    border-radius: 0;
}

ul {
    list-style-type: square;
}

.nav-link.active {
    text-decoration-line: underline;
}

/*
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
}
*/

router-outlet {
    display: none;
}
.routeContainer {
    /* Making position relative so that children elements can be
    positioned to the relative parent*/ 
    position: relative;
}
.routeContainer>* { /* Any subchild of routerContainer*/
    /* Angular default is inline so we will change it blocks, 
    so when we change the size it will be different than inline*/
    display: block;
}
