<!-- ngIf statement finds out if the current component is currently a child of the parent component-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">Portfolio</h2>
            </div>
            <div class="line"></div>
        </div>
        <div class="row section-content">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <h3 class="font-weight-lighter" style="color: #00D7FF;">Featured Project</h3>
                </div>
                <div class="row justify-content-center">
                    <div id="featuredcard" class="card">
                        <a class="btnproj featured">
                            <img id="featuredimg" src="/assets/img/mainmenu.jpg" alt="Main Menu" class="card-img-top">
                            <i class="fas fa-eye view" (click)="onClick(1)" ></i>
                        </a>
                        <div class="card-body mr-auto ml-auto" style="padding: 0;">
                            Self-driving Remote Controlled Car
                        </div>
                    </div>
                </div>
                <div class="row otherprojects">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                            <h4 class="text-white font-weight-lighter">Other Projects</h4>
                        </div>
                        <div class="row justify-content-center">
                            <div class="card-deck">
                                <div class="card projectCards">
                                    <a class="btnproj normal">
                                        <img src="/assets/img/cms_assignment.png" alt="Content Management System" class="card-img-top">
                                        <i class="fas fa-eye normalview" (click)="onClick(2)"></i>
                                    </a>
                                    <div class="card-body">
                                        Content Management System
                                    </div>
                                </div>
                                <div class="card projectCards">
                                    <a class="btnproj normal">
                                        <img src="/assets/img/homepage.png" alt="Portfolio Website" class="card-img-top">
                                        <i class="fas fa-eye normalview" (click)="onClick(3)"></i>
                                    </a>
                                    <div class="card-body">
                                        Portfolio Website
                                    </div>
                                </div>
                                <div class="card projectCards">
                                    <a class="btnproj normal">
                                        <img src="/assets/img/loginpage.png" alt=".NET Core Website" class="card-img-top">
                                        <i class="fas fa-eye normalview" (click)="onClick(4)"></i>
                                    </a>
                                    <div class="card-body">
                                        ASP.NET Core Website
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>