<section class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-title">Technical Skills</h2>
            </div>
            <div class="line"></div>
        </div>
        <div class="row section-content">
            <div class="row mr-auto ml-auto">
                <div class="col-md" style="margin: auto;">
                    <blockquote class="blockquote">
                        <p style="font-size: 16px; text-indent: 2em;">
                            I am mostly a back-end developer with fullstack experience but have worked with
                            many different type of technologies from <span style="color: white;">school</span> and <span
                                style="color: white;">self-taught</span> from tutorials or online
                            courses.
                        </p>
                        <p style="font-size: 16px; text-indent: 2em;">
                            Even if my stack is currently limited, I would most definitely take the <span
                                style="color: white;">initiative</span> to gain more
                            knowledge in other stacks if the job requires it.
                        </p>
                        <p style="font-size: 16px; text-indent: 2em;">
                            To see the full extent of my knowledge and potential, check out my portfolio.
                        </p>
                    </blockquote>
                </div>
                <div class="col-md">
                    <h5
                        style="color: white; font-weight: lighter;">
                        My current stack I am most proficient in:
                    </h5>
                    <ul class="list-group">
                        <li class="list-group-item"> C# for ASP.NET Core</li>
                        <li class="list-group-item">SQL, PL/SQL for Oracle/Microsoft SQL Database</li>
                        <li class="list-group-item">Typescript/Javascript with Angular.js/Bootstrap/jQuery Frameworks</li>
                        <li class="list-group-item">NuGet/NPM</li>
                        <li class="list-group-item">GitHub/Visual Studio Team Services</li>
                    </ul>
                </div>
            </div>
            <div id="skills" class="row">
                <div class="row mr-auto ml-auto">
                    <h5 style="color: white; font-weight: lighter;">
                        Here are all of my skills/tools that I have knowledge of:
                    </h5>
                </div>
                <div class="row mr-auto ml-auto" style="padding-top: 15px;">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-header">
                                <div class="row justify-content-center">
                                    <i class="far fa-window-maximize" style="font-size: 32px;"></i>
                                </div>
                                <div class="row justify-content-center">
                                    <h5 class="card-title" style="margin-bottom: 0;">FRONT-END</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Javascript/Typescript</li>
                                    <li>HTML</li>
                                    <li>CSS/SASS</li>
                                    <li>Angular.js</li>
                                    <li>Bootstrap</li>
                                    <li>Toastr</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="row justify-content-center">
                                    <i class="fas fa-server" style="font-size: 32px;"></i>
                                </div>
                                <div class="row justify-content-center">
                                    <h5 class="card-title" style="margin-bottom: 0;">BACK-END</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>C, C++, C#</li>
                                    <li>Python</li>
                                    <li>Solidity</li>
                                    <li>Java</li>
                                    <li>.NET Framework</li>
                                    <li>ASP.NET</li>
                                    <li>.NET Core</li>
                                    <li>Swagger UI/Postman</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="row justify-content-center">
                                    <i class="fas fa-database" style="font-size: 32px;"></i>
                                </div>
                                <div class="row justify-content-center">
                                    <h5 class="card-title" style="margin-bottom: 0;">DATABASE</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Oracle SQL Developer</li>
                                    <li>Microsoft SQL Server</li>
                                    <li>MySQL</li>
                                    <li>PL/SQL</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="row justify-content-center">
                                    <i class="fas fa-toolbox" style="font-size: 32px;"></i>
                                </div>
                                <div class="row justify-content-center">
                                    <h5 class="card-title" style="margin-bottom: 0;">OTHER TOOLS</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Unity Game Engine</li>
                                    <li>Microsoft Project</li>
                                    <li>Trello</li>
                                    <li>Adobe Photoshop</li>
                                    <li>OrCAD</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>