<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span style="font-size: 2em; margin-left: -8px; margin-right: 10px; display:block;">
    <i class="fab fa-product-hunt"></i>
  </span>
  <a href="/" class="navbar-brand text-black font-weight-bold">Paul John Gonzales</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigations">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navsocials" class="d-block justify-content-left">
    <a href="https://www.instagram.com/supax.inc/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/paul-john-gonzales-3b5a1a165/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/supaxinc" target="_blank"><i class="fab fa-github-square"></i></a>
    <a href="https://www.hackerrank.com/paulj_gonzales?hr_r=1" target="_blank"><i class="fab fa-hackerrank"></i></a>
  </div>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto" style="margin-right: 10px;">
      <li class="nav-item">
        <a class="nav-link" routerLink='/pages/home' routerLinkActive='active'>Home</a>
        <!-- routerLinkActive figures out which route is currently active which changes the css-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/pages/aboutme' routerLinkActive='active'>About Me</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink='/pages/skills' routerLinkActive='active'>Skills</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink='/pages/portfolio' routerLinkActive='active' data-toggle="dropdown"
            aria-expanded="false" role="button" aria-haspopup="true">
            Portfolio
          </a>
          <div class="dropdown-menu">
            <a routerLink='/pages/portfolio/1' routerLinkActive='active' class="dropdown-item"> Self-driving car</a>
            <a routerLink='/pages/portfolio/2' routerLinkActive='active' class="dropdown-item"> Content Management System</a>
            <a routerLink='/pages/portfolio/3' routerLinkActive='active' class="dropdown-item"> Portfolio Website</a>
            <a routerLink='/pages/portfolio/4' routerLinkActive='active' class="dropdown-item"> ASP.NET Core Website</a>
          </div>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink='/pages/contactme' routerLinkActive='active'>Contact Me</a>
      </li>
    </ul>
  </div>
  <button id="resume" (click)="btnClick()" class="btn btn-outline-primary my-2 my-sm-0">Resume</button>
</nav>

<!-- Based on ACTIVE routerLink, this div will show the route that is ACTIVE-->
<!-- @ sign is a special syntax for angular animations, basically the name of the animations-->
<div class="routeContainer" [@routeAnimation]="findState(myOutlet)" 
  (@routeAnimation.done)="animFinished($event)" (@routeAnimation.start)="animStarted($event)">
  <!-- local template variable with #-->
  <router-outlet #myOutlet="outlet"></router-outlet>
</div>